*{
    margin: 0;
    padding: 0;
    font-family: sans-serif
}
.navbar{
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: center;
    background-color: red;
}
.navbar img{
    width: 70px;
    padding-left: 5rem;
}
.right ul {
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-left: 40rem;
}
.right ul li a{
    text-decoration: none;
    color: white;

}
.right ul li{
    list-style: none;
}

/* Main Section */
.main{
    display: flex;
    flex-direction: row;
    padding: 45px;
    background-color:red;
    color: white;
}
.left{
    width: 50%;
padding-top: 60px;
padding-left: 20px;
}
.left h1{
    font-size: 50px;
   
}
.left p{
    font-size: 12px;
    padding-bottom: 40px;
}
.btn button{
    padding-inline: 20px;
    padding-block: 10px;
    border-radius: 25px;
    border: none;
}
.btn button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
}
.right2{
    width: 50%;
    justify-content: center;
    display: flex;
}